.CantProductos{
    margin-right: 20px;
    margin-top: 100px;
    font-size: 1.1rem;
    background-color: black;
    border-radius: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    color: blanchedalmond;
}

.Margin-widget{
    margin-right: 0;
}

